* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    padding: 0;
    line-height: 1.17;
    font-family: "Hind", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #272c30;
}

header .hero-container {
    background-image: url(/img/Grupo-9213@2x.png);
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


header .centro-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    top: 40px;
}

header h1 {
    font-size: 2.3em;
    max-width: 1050px;
    margin: 25px auto;
    overflow-wrap: break-word;
}

.button-container {
    align-items: center;
    background-color: #1489ff;
    border: 2px solid #1489ff;
    border-radius: 5px;
    box-shadow: 0px 15px 12px 0px rgba(153, 176, 190, 0.35);
    color: #ffff;
    font-size: 1em;
    max-width: 100%;
    min-width: 255px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding: 15px;
    transition: all 300ms ease 0ms;
}


.button-container:hover {
    background-color: #ffffff;
    color: #1489ff;
}

/* tarjeta */

.tarjeta-container {
    position: absolute;
    top: 390px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 10px;
    max-width: 692px;
    min-width: 270px;
    width: auto;
    height: auto;
    object-fit: contain;
    box-shadow: 0 15px 15px 0 rgba(26, 72, 100, .15);
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #fff 45%, #fff 78%, #f8fcff);
    border: solid 1px #c3d5e0;
    padding: 16px;
}

.image-tarjeta img {
    width: fit-content;
    max-width: 237px;
}

.nombre-tarjeta {
    font-size: 27px;
    line-height: 32px;
    font-weight: 500;
    margin: 15px 0px 10px 0px;
}

.descripcion-tarjeta {
    width: 100%;
    font-size: 18px;
    line-height: 21px;
}

.carrera-tarjeta {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px 45px 10px 0;
    justify-content: space-between;
}

.carrera-tarjeta h6 {
    font-size: 18px;
    line-height: 21px;
    color: #1489ff;
    font-weight: 500;
}

.parrafo-tarjeta {
    margin-right: 45px;
    text-align: justify;
    font-size: 16px;
    line-height: 21px;
}

/* seccion 2 */
.seccion2,
.seccion3 {
    text-align: center;
    padding: 20px;
}

.subtitulo {
    margin-top: 60px;
    overflow-wrap: break-word;
    line-height: 1.1em;
    text-align: center;
    font-size: 42px;
}

.subtitulo span {
    display: block;
}


/* productos*/

.seccion2 .productos {
    margin: 23px auto;
    max-width: 1200px;
    padding: 0px 50px 0px 95px;
    display: flex;
    flex-direction: row;
    padding: clamp(26px, 2vw, 4rem);
}

.seccion2 .tarjetaSola {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgb(195 213 224 / 50%);
    background-color: #fff;
    padding: 30px;
}

.tarjetaSola img {
    width: 100%;
}

.tarjetaSola h4 {
    font-size: 27px;
    margin-bottom: 10px;
    text-align: center;
}

.tarjetaSola p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

/* diagrama */

.diagrama {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
    left: 0;
    right: 0;
    margin: 60px auto;
    max-width: 1000px;
    background-color: transparent;
    background-image: transparent;
    background: none;
}

.imagen-grupo{
    outline: 0;
    vertical-align: baseline;
    color: inherit;
    display: inline;
    background-color: transparent;
}

.diagrama p {
    font-size: 18px;
}

/* seccion 4 */

.hero-final {
    background-image: url(/img/Enmascarar\ grupo\ 259@3x.webp);
    height: 186vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 50px;

}

.texto-final {
    display: block;
    position: absolute;
    max-width: 95%;
    padding-top: 60px;
    right: 0;
    left: 0;
    margin: auto;
    margin-bottom: 60px;
}

.seccion4 {
    text-align: center;
    margin-bottom: 0px;
}

.seccion4 h2 {
    margin-bottom: 40px;
}

.seccion4 button {
    margin-top: 60px;
}

.cuadricula {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-content: center;
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 900px;
}

.cuadricula div {
    display: grid;
    width: 90%;
    justify-items: center;
    margin: 15px 6%;
    padding: 22px 5%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 20px 15px 0 rgb(26 72 100 / 10%);
    border: 1px solid #c3d5e0;
    background-image: linear-gradient(to bottom, #fff, #fff 78%, #f0feff);
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
}

.cuadricula div:hover {
    border: 1px solid #1489ff;
}

.negritas {
    font-weight: bold;
}

.cuadricula div img {
    max-width: 100%;
    margin-bottom: 10px;
}

/* footer */

footer {
    background-image: linear-gradient(90deg, #1489ff 0%, #0073e6 100%) !important;
    padding: 40px 140px;
    max-width: 100%;
    width: 100%;
    background-position: 50%;
    margin-top: 0;
}

.superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.redes img {
    margin: 5px;
}

.inferior {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 45px;
}

.linea-footer {
    border-bottom: 1.5px solid #fff;
    height: 10px;
    margin-top: 10px;
    width: auto;
}

.inferior {
    margin-top: 30px;
}

.inferior a {
    margin-right: 50px;
    color: #f0feff;
    text-decoration: none;
    font-size: 14px;
}

/*--------
    Media
 --------- */

@media all and (min-width: 1024px) and (max-width: 1280px) {
    header h1 {
        font-size: 1.8em;
        margin: 15px auto;
    }

}

@media all and (min-width: 768px) and (max-width: 1024px) {
    header h1 {
        font-size: 2em;
        margin: 15px auto;
    }

}


@media all and (min-width: 480px) and (max-width: 768px) {

    header .hero-container {
        height: 168vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 2560px;
    }

    header h1 {
        font-size: 1.3em;
        margin: 15px auto;
    }

    .tarjeta-container {
        margin-top: 80px;
        max-width: 302px;
        min-height: 380px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 100%;
        grid-template-rows: 1fr auto;
        row-gap: 20px;
    }

    .image-tarjeta img {
        position: absolute;
        top: -150px;
        width: 225px;
        height: 225px;
        max-width: unset;
        object-fit: cover;
        left: 0px;
        right: 0px;
        margin: auto;
    }

    .descripcion-tarjeta {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .carrera-tarjeta {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .parrafo-tarjeta {
        margin: 10px;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 21px;
    }

    .nombre-tarjeta {
        margin: 0;
        text-align: center;
        font-size: 18px;
        line-height: 23px;
    }

    .estrellas-tarjeta {
        margin-top: 10px;
    }

    .subtitulo {
        font-size: 30px;
        margin: 50px 10px;
    }

    .seccion2 .productos {
        display: flex;
        flex-direction: column;
    }

    .seccion2 .tarjetaSola {
        margin: 20px;
        max-width: 592px;
        min-width: 270px;
    }

    .diagrama {
        max-width: 900px;
        gap: 0;
    }

    .diagrama img {
        max-width: 150px;
    }

    .diagrama p {
        font-size: 18px;
        text-align: center;
    }

    .hero-final {
        display: block;
    }

    .seccion4{
        margin-bottom: 420px;
    }

    .cuadricula {
        max-width: 90%;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    footer {
        margin-top: 250px;
        padding: 70px;
    }

    .logo-footer {
        margin-bottom: 15px;
    }

    .superior {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .inferior {
        display: flex;
        flex-direction: column;
    }

    .inferior a {
        margin-bottom: 20px;
        padding: 0;
        margin: 10px 0;
    }

}

@media all and (min-width: 280px) and (max-width: 480px){
    header .hero-container {
        height: 168vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 2560px;
    }

    header h1 {
        font-size: 1.3em;
        margin: 15px auto;
    }

    .tarjeta-container {
        margin-top: 80px;
        max-width: 302px;
        min-height: 380px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 100%;
        grid-template-rows: 1fr auto;
        row-gap: 20px;
    }

    .image-tarjeta img {
        position: absolute;
        top: -150px;
        width: 225px;
        height: 225px;
        max-width: unset;
        object-fit: cover;
        left: 0px;
        right: 0px;
        margin: auto;
    }

    .descripcion-tarjeta {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .carrera-tarjeta {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .parrafo-tarjeta {
        margin: 10px;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 21px;
    }

    .nombre-tarjeta {
        margin: 0;
        text-align: center;
        font-size: 18px;
        line-height: 23px;
    }

    .estrellas-tarjeta {
        margin-top: 10px;
    }

    .subtitulo {
        font-size: 30px;
        margin: 50px 10px;
    }

    .seccion2 .productos {
        display: flex;
        flex-direction: column;
    }

    .seccion2 .tarjetaSola {
        margin: 20px;
        max-width: 592px;
        min-width: 270px;
    }

    .diagrama {
        max-width: 600px;
        gap: 0;
    }

    .diagrama img {
        max-width: 50px;
    }

    .diagrama p {
        font-size: 10px;
        text-align: center;
    }

    .hero-final {
        display: block;
    }

    .seccion4{
        margin-bottom: 420px;
    }

    .cuadricula {
        max-width: 90%;
        display: grid;
        grid-template-columns: 90%;
    }

    footer {
        display: block;
        margin-top: 1150px;
        padding: 70px;
    }

    .logo-footer {
        margin-bottom: 15px;
    }

    .superior {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .inferior {
        display: flex;
        flex-direction: column;
    }

    .inferior a {
        margin-bottom: 20px;
        padding: 0;
        margin: 10px 0;
    }
}

